<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permission Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LocationCaftan">

        <!-- Main Activity -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add Caftan Activity -->
        <activity android:name=".AddCaftanActivity"
            android:exported="false" />

        <!-- Admin Caftans List Activity -->
        <activity android:name=".AdminCaftansListActivity"
            android:exported="false" />

        <!-- Admin Dashboard Activity -->
        <activity android:name=".AdminDashboardActivity"
            android:exported="false" />

        <!-- Admin Login Activity -->
        <activity android:name=".AdminLoginActivity"
            android:exported="false" />

        <!-- Reserver Activity -->
        <activity android:name=".ReserverActivity"
            android:exported="false" />

        <!-- Details Activity -->
        <activity android:name=".DetailsActivity"
            android:exported="false" />

    </application>

</manifest>